@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

body {
    background: #0984e3;
}

.main-box {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.main-box label {
    position: relative;
    background: #FFF;
    height: 50px;
    width: 150px;
    border-radius: 35px;
    display: block;
    text-align: center;
    line-height: 50px;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    color: #0984e3;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.main-box label::before {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: #FFF;
    content: "Cancel";
    border-radius: 35px;
    opacity: 1;
    pointer-events: none;
}

.main-box label:hover {
    letter-spacing: 1px;
}

#chek {
    display: none;
}

#chek:checked~label::before {
    opacity: 0;
    pointer-events: auto;
}

.icons {
    position: absolute;
    top: -120px;
    left: 50%;
    transform: translateX(-50%);
    background: #FFF;
    height: 110%;
    width: 140%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 35px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

.icons a {
    font-size: 22px;
    color: #0984e3;
    transition: all 0.3s ease;
}

.icons a:hover {
    transform: translateY(-2px);
}

.icons a:nth-child(1):hover {
    color: #e13806;
}

.icons a:nth-child(2):hover {
    color: #ff0000;
}

.icons a:nth-child(3):hover {
    color: #1da1f2;
}

.icons a:nth-child(4):hover {
    color: #426782;
}

.icons::before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    bottom: -9px;
    background: #FFF;
    transform: rotate(45deg);
}

#chek:checked~.icons {
    opacity: 1;
    pointer-events: auto;
    top: -84px;
}